@charset "utf-8";
*{
	margin:0px;	
	padding:0px;
}
body{
	font-family:'Ryumin Regular KL',Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	scroll-behavior:smooth;
}
#wrapper{
	width:1263px;
	height:auto;
	background-image:url("../images/background.jpeg");
	background-repeat:repeat;
}
#header{
	width:1263px;
	height:80px;
	background-color:#fff;
	opacity:0.9;
	position:fixed;
	z-index:3;
	font-size:18px;
}

#logo{
	width:200px;
	height:80px;
	float:left
}
#navi{
	width:750px;
	height:80px;
	float:right;
}
#navi li{
	padding-top:30px;
	width:150px;
	height:50px;
	display:block;
	list-style:none;
	float:left;
	text-align:center;
}
#navi a{
	position:relative;
	display:inline-block;
	text-decoration:none;
	text-align:center;
}
.navi5{
	background-color:#424242;
}
.navi1 a,.navi2 a,.navi3 a,.navi4 a{
	color:#424242;
}
#navi a::after{
	position: absolute;
	bottom: -4px;
	left: 0;
	content: '';
	width: 100%;
	height: 2px;
	background: #333;
	transform: scale(0, 1);
	transform-origin: left top;
	transition: transform .3s;
}
#navi a:hover::after{
	transform: scale(1, 1);
}
a:hover{
	opacity:0.5;
}
.navi5 a{
	color:#fff;
}
.bt{
	position:fixed;
	left:1200px;
	top:606px;
}
/*ホーム*/
.slideshow {
	position: relative;
	width:1263px;
	height:686px;
}
.slideshow img {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	transition: 1s;
}

.slideshow .show {
	opacity: 1;
	z-index: 1;
}
.hukidashi{
	background-color:#000;
	position:absolute;
	z-index:2;
	top:450px;
	left:750px;
}
/*お知らせ*/
#news{
	width:1263px;
	height:400px;
	background-color:#fff;
	padding-top:10px;
}
.news_more{
	padding-top:20px;
	display:block;
	width:600px;
	height:40px;
	text-decoration:none;
	color:#000;
	text-align:left;
	padding-left:100px;
}
.not_news{
	padding-top:30px;
	padding-bottom:30px;
	padding-left:320px;
}
#news_box{
	overflow:auto;
	height:300px;
	width:900px;
}
#news_con{
	width:800px;
	height:480px;
	margin-left:auto;
	margin-right:auto;
	background-color:#fff;
}
.news_con{
	padding-left:180px;
	padding-top:20px;
	padding-bottom:20px;
}
#acMenu dt{
	margin-left:180px;
	width:620px;
	height:50px;
	display:block;
	line-height:50px;

	cursor:pointer;
}
dt:hover{
	opacity:0.5;
	
}
#acMenu dd{
	margin-bottom:30px;
	margin-left:180px;
	width:620px;
	display:none;
}
.length{
	width:1263px;
	height:80px;
	background-color:#fff;
}
/*いずも庵について*/
#izumo_img{
	width:1263px;
	height:606px;
	background-image:url("../images/img_03.jpg");
	background-size: cover;
}
#izumo_info{
	background: rgba(255,255,255,0.6);
	height:606px;
}
.izumo_info_c{
	padding:100px 0px 100px 0px;
	line-height: 2.5em
}
#izumo_info2{
	width:1263px;
	height:500px;
	background-color:white;
	padding-top:30px;
}
.info_midashi{
	width:1200px;
	height:40px;
	margin-right:auto;
	margin-left:auto;
	margin-bottom:30px;
	background-color:#424242;
	color:#fff;
}
.fadeInDown {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1s;
 -ms-animation-duration:1s;
 animation-duration:1s;
 -webkit-animation-name: fadeInDown;
 animation-name: fadeInDown;
 visibility: visible !important;
}
@-webkit-keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}

#izumo_info2_con{
	width:1200px;
	height:520px;
	margin-right:auto;
	margin-left:auto;
	color:#424242;
}
.info2_con1,.info2_con2,.info2_con3 {
	width:390px;
	height:420px;
	float:left;
	background-color:white;
}
.info2_con2{
	margin-left:15px;
	margin-right:15px;
}
/*メニュー*/
#menu_midashi{
	width:1263px;
	height:406px;
	margin-top:100px;
	margin-bottom:100px;
	background-color:white;
}
.izumo_menu_c{
	padding-top:65px;
	line-height: 2.5em
}
#menu_wrapper{
	width:1263px;
	height:566px;
	padding-top:30px;
	background-color:white;
}
#menu_con1,#menu_con2,#menu_con3{
	width:401px;
	height:606px;
	margin:0px 10px 0px 10px;
	float:left;
}
.menu_midashi{
	width:380px;
	height:30px;
	background-color:#424242;
	color:white;
}
/*店舗案内*/
#access_midashi{
	width:100px;
	height:200px;
	position:absolute;
	z-index:1;
	background-color:#000;
	left:550px;;
	margin-top:50px;
	padding-right:20px;
	writing-mode: vertical-rl;
	color:white;
}
#access_wrapper{
	margin-top:150px;
	width:1000px;
	height:900px;
	margin-left:auto;
	margin-right:auto;
	background-color:white;
}
#access_con{
	width:300px;
	height:454px;
	margin-left:100px;
	margin-top:50px;
	float:left;
}
.box p {
  -webkit-transition: all 1s;
  -webkit-transform: translate(0, 0);
  opacity: 1;
}
.box p.move {
  -webkit-transform: translate(-10px, 0);
  opacity: 0;
}
#access_map{
	width:500px;
	height:504px;
	margin-right:100px;
	float:left;
}
#access_box{
	width:290px;
	height:240px;
	font-size:12px;
	border:1px solid #f0f0f0;
	margin-top:20px;
}
.map{
	margin-top:50px;
}

#cr{
	width:1263px;
	height:30px;
	background-color:#000;
	color:white;
	float:left;
}
/*フッター*/
#footer{
	width:1263px;
	height:200px;
	margin-top:80px;
	background-color:#fff;
}
#f_con{
	width:600px;
	height:100px;
	margin-left: auto;
	margin-right: auto;
	padding:25px 200px 25px 200px;
}
.f_bt{
	margin-top:30px;
	height:50px;
	width:230px;
	float:left;
	display:block;
	border:1px solid #424242;
	margin-left:50px;
	padding-top:18px;
	font-size:18px;
}
.f_bt a{
	height:50px;
	width:200px;
	display:block;
	text-decoration:none;
	color:#000;
}
/*お問い合わせ*/
.dummy{
	width:1263px;
	height:150px;
}
.ant_midashi{
	width:800px;
	padding-top:20px;
	height:50px;
	background-color:#424242;
	color:white;
}
#ant{
	width:800px;
	height:900px;
	background-color:#fff;
	margin-left:auto;
	margin-right:auto;
}
#ant_con{
	width:600px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	padding-top:25px;
}
.mar{
	opacity:0.2;
	margin:25px 0px 25px 0px;
}
hr{
	margin-top:5px;
	opacity:0.2;
	border-top: 1px dashed #bbb;
}
input.submit_bt{
	padding: 15px 40px;
	margin-top:30px;
	font-size: 1.2em;
	background-color:#424242;
	color: #fff;
	border-style: none;
}
input:hover{
	opacity:0.5;
}
#k_nav{
	height:50px;
	width:1263px;
}
.a_link{
	float:right;
}
.b_link{
	float:left;
}

/*管理者画面*/
.next_bt{
	margin-left:575px;
}